<% provide :title, t("application.general.showProfile") %>
<div class="row container">
  <div class="col-md-7">
    <div class="row information">
      <div class="col-md-12" id="name-information">
        <div class="col-md-3"><strong><%= t "application.model.nameShow" %></strong></div>
        <div class="col-md-9"><%= @user.name %></div>
      </div>
      <div class="col-md-12" id="email-information">
        <div class="col-md-3"><strong><%= t "application.model.emailShow" %></strong></div>
        <div class="col-md-9"><%= @user.email %></div>
      </div>
    </div>
    <br/>
    <% @user.courses.active.each do |course| %>
      <%= render "course", course: course %>
      <% course.user_subjects.by_user_of_subject(@user, course).each do |user_subject|%>
        <%= render "subject", subject: user_subject.subject, user_subject: user_subject, user: @user %>
      <% end %>
    <% end %>
  </div>
  <div class="col-md-2">
  </div>
  <div class="col-md-3" id="activity_log">
    <%= render "shared/activities_log", activities: @activities %>
  </div>
</div>
